In [48]:
# library imports:
# mesa
from mesa import Agent, Model
from mesa.datacollection import DataCollector
# load all available schedulers
import mesa.time as time
import math
import random
# matplot lib for plotting, numpy for all sorts of useful math
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
# basic python statistics
import statistics as stat

# import pandas
import pandas as pd

# Required libraries for animation
from matplotlib.animation import FuncAnimation
from matplotlib import animation, rc, collections
from IPython.display import HTML

from model import RecyclingModel
from main import RecyclingModel

In [49]:
def run_model():
   model = RecyclingModel()
   number_of_steps = 240
   for i in range(number_of_steps):
      model.step()
   return model.datacollector_waste.get_model_vars_dataframe()

dataframe = run_model()

dataframe

,Waste Rotterdam,Waste Vlaardingen,Waste Schiedam,Recycled plastic waste Rotterdam,Recycled plastic waste Vlaardingen,Recycled plastic waste Schiedam,Percentage recycled Rotterdam,Percentage recycled Vlaardingen,Percentage recycled Schiedam
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,396.520303,201.868525,281.284715,7.040256,5.090108,6.553674,0.017755,0.025215,0.023299
2,395.887376,196.634296,277.457824,6.996357,4.921145,6.520442,0.017673,0.025027,0.023501
3,396.924139,195.967869,280.208637,7.041205,4.920479,6.597101,0.017739,0.025109,0.023544
4,391.627106,200.795575,277.231546,6.950311,5.044838,6.504697,0.017747,0.025124,0.023463
...,...,...,...,...,...,...,...,...,...
236,305.264501,151.878001,214.726250,11.041539,7.788622,10.306489,0.036170,0.051282,0.047998
237,303.247519,153.347739,215.458423,10.980861,7.842497,10.371591,0.036211,0.051142,0.048137
238,303.825611,151.166887,212.691175,11.041521,7.755784,10.183013,0.036342,0.051306,0.047877
239,307.474795,154.995977,214.597849,11.179228,7.939749,10.303620,0.036358,0.051226,0.048014
240,302.845503,153.710174,215.654671,10.949670,7.897531,10.360033,0.036156,0.051379,0.048040

In [50]:
dataframe = dataframe[1:241]

,Waste Rotterdam,Waste Vlaardingen,Waste Schiedam,Recycled plastic waste Rotterdam,Recycled plastic waste Vlaardingen,Recycled plastic waste Schiedam,Percentage recycled Rotterdam,Percentage recycled Vlaardingen,Percentage recycled Schiedam
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,399.369510,198.636520,281.129692,11.290881,4.769167,6.219337,0.028272,0.024010,0.022123
2,394.507001,200.600315,282.506444,11.164322,4.780038,6.289501,0.028299,0.023829,0.022263
3,395.797426,200.247079,273.842079,11.094365,4.824655,6.061638,0.028030,0.024094,0.022136
4,394.516958,192.883557,277.320724,11.090745,4.641964,6.152389,0.028112,0.024066,0.022185
...,...,...,...,...,...,...,...,...,...
236,303.707873,152.103358,212.536382,17.455805,7.384469,9.636156,0.057476,0.048549,0.045339
237,306.008322,157.424251,215.076132,17.640462,7.683073,9.696666,0.057647,0.048805,0.045085
238,304.386708,150.827243,211.241192,17.491847,7.397628,9.539233,0.057466,0.049047,0.045158
239,303.891644,153.713996,215.133353,17.535655,7.561557,9.756409,0.057704,0.049192,0.045351
240,302.539513,149.706032,213.244679,17.449070,7.325932,9.653277,0.057675,0.048935,0.045269

In [19]:
dataframe["average_cities"] = (dataframe["Percentage recycled Rotterdam"] + dataframe["Percentage recycled Vlaardingen"] + dataframe["Percentage recycled Schiedam"])/3

C:\Users\hp\AppData\Local\Temp/ipykernel_14132/3456375335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["average_cities"] = (dataframe["Percentage recycled Rotterdam"] + dataframe["Percentage recycled Vlaardingen"] + dataframe["Percentage recycled Schiedam"])/3

In [20]:
dataframe['average_cities'].mean()

0.050882923234276796

In [51]:
iterations = 10
averages = []
for i in range(iterations):
    dataframe = run_model()
    dataframe = dataframe[1:241]
    dataframe["average_cities"] = (dataframe["Percentage recycled Rotterdam"] + dataframe["Percentage recycled Vlaardingen"] + dataframe["Percentage recycled Schiedam"])/3
    averages.append(dataframe['average_cities'].mean())

UnboundLocalError: local variable 'costs_technology' referenced before assignment

In [9]:
len(averages)

100